body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;

}

.container {
  background-color: tan;
  display: flex;
  height: 100vh;
  justify-content: center;
  align-content: center;
}

.content {
  height: 90%;
  width: 90%;
  background-color: lightgrey;
  display: flex;
  align-self: center;
  flex-direction: column;
  align-content: center;
  justify-content: space-around;
}

#change-quote-btn {
  background-color: lightgreen;
  color: white;
  height: 75px;
  width: 200px;
  font-size: 1.5em;
  align-self: center;
  /* position: absolute;
  left: 40%;
  top: 20%; */
  cursor: pointer;
}

#change-quote-btn:hover {
  background-color: green;
  opacity: 80%;
}

.quote-div {
  height: 50%;
  width: 75%;
  align-self: center;
  font-size: 2.5em;
  text-align: center;
  padding: 0;
  margin: 0;
}


.credit {
  font-size: .6em;
  padding-top: 0;
  color: green;
  text-align: right;
}